/* .table-switch {

} */

.table-switch__label {
    color: #668;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

.table-switch__tiles {
    display: flex;
}

.table-switch__tile {
    transition-duration: .2s;
    cursor: pointer;
    width: 200px;
    height: 100px;
    position: relative;
    -webkit-box-shadow: -3px -2px 8px 0px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: -3px -2px 8px 0px rgba(34, 60, 80, 0.1);
    box-shadow: -3px -2px 8px 0px rgba(34, 60, 80, 0.1);
}

.table-switch__tile:hover {
-webkit-box-shadow: -3px -2px 12px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: -3px -2px 12px 0px rgba(34, 60, 80, 0.2);
box-shadow: -3px -2px 12px 0px rgba(34, 60, 80, 0.2);
}

.table-switch__tile > h3 {
    user-select: none;
    -webkit-user-select: none;
    color: #668;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table-switch__lang-switch {
    position: relative;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 20px;
    width: 80px;
    height: 40px;
    -webkit-box-shadow: 1px 2px 11px 1px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 1px 2px 11px 1px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 1px 2px 11px 1px rgba(34, 60, 80, 0.2) inset;
}

.table-switch__lang-slide {
    /* 10% - 59% */
    z-index: 2;
    transition-duration: .2s;
    left: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.2);
}

.table-switch__lang-container {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: -5px;
}

.table-switch__lang-par {
    user-select: none;
    -webkit-user-select: none;
    color: rgb(39, 245, 118);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}